repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black", "--line-length=88", "--skip=num2words2/_version.py"]

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [
          "--in-place",
          "--remove-unused-variables",
          "--remove-all-unused-imports",
          "--expand-star-imports",
          "--ignore-init-module-imports"
        ]

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ["--line-length=88"]

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        args: [
          "--exclude=num2words2/_version.py",
          "--extend-ignore=E501,E203,W503",
          "--per-file-ignores=tests/*:E501,W293,W292",
          "--max-line-length=88"
        ]
        additional_dependencies: [flake8-copyright]

  # Run all tests before commit
  - repo: local
    hooks:
      - id: run-all-tests
        name: Run All Tests
        entry: python -m pytest tests/ -v
        language: system
        pass_filenames: false
        stages: [pre-commit]
        verbose: true
        description: Run all test suites before commit
        always_run: true
